html, body {
	overflow: hidden;
}

body {
	overflow: hidden !important;
	width: 100%;
	height: 100%;
	background-color: #0E0B16;
}

@
-ms-viewport {
	width: device-width;
}

#vis {
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
/* 	background-color: #0E0B16; */
}

#video-background {
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.font-size-1point3rem {
	font-size: 1.3rem;
}

.btn {
	position: fixed;
/* 	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); */
	transform: translatey(0px);
	
	transition: transform 1s;
	border-radius: 50%;
	
	height: 56px !important;
	width: 56px !important;
	display: flex;
	align-items: center;

}

.circle {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 12px #fff,
		    0 0 12px #fff;
	background-color: transparent;
}

.glowing,
.glowing-1 .col:nth-child(2) .circle,
.glowing-2 .col:nth-child(2) .circle,
.glowing-2 .col:nth-child(3) .circle,
.glowing-3 .col:nth-child(2) .circle,
.glowing-3 .col:nth-child(3) .circle,
.glowing-3 .col:nth-child(4) .circle,
.glowing-4 .col:nth-child(2) .circle,
.glowing-4 .col:nth-child(3) .circle,
.glowing-4 .col:nth-child(4) .circle,
.glowing-4 .col:nth-child(5) .circle,
.glowing-5 .col:nth-child(2) .circle,
.glowing-5 .col:nth-child(3) .circle,
.glowing-5 .col:nth-child(4) .circle,
.glowing-5 .col:nth-child(5) .circle,
.glowing-5 .col:nth-child(6) .circle {
	box-shadow: inset 0 0 35px #fff,
		    0 0 12px #fff;
}

/* .star {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
} */

.btn-floating {
	animation: float 6s ease-in-out infinite;
}

.btn-floating i{
	color: #000;
}


@keyframes float {
	0% {
/* 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	25% {
/* 		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-10px);
	}
	75% {
/* 		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(10px);
	}
	100% {
/* 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

@keyframes glowingButton {
	0% {
		box-shadow: inset 0 0 50px #fff,
		    inset 20px 0 80px #cfc4f8,
		    inset -20px 0 80px #cfc4f8,
		    inset 20px 0 300px #cfc4f8,
		    inset -20px 0 300px #cfc4f8,
		    0 0 50px #fff,
		    -10px 0 80px #cfc4f8,
		    10px 0 80px #cfc4f8;
		background-color: transparent;
	}
	50% {
		/* box-shadow: 0 0 80px 40px #fff, 0 0 200px 100px #4717F6; */
		box-shadow: inset 0 0 50px #fff,
		    inset 20px 0 80px #fff,
		    inset -20px 0 80px #fff,
		    inset 20px 0 300px #fff,
		    inset -20px 0 300px #fff,
		    0 0 50px #fff,
		    -10px 0 80px #cfc4f8,
		    10px 0 80px #cfc4f8;
		background-color: #fff;
	}
	100% {
		box-shadow: inset 0 0 50px #fff,
		    inset 20px 0 80px #cfc4f8,
		    inset -20px 0 80px #cfc4f8,
		    inset 20px 0 300px #cfc4f8,
		    inset -20px 0 300px #cfc4f8,
		    0 0 50px #fff,
		    -10px 0 80px #cfc4f8,
		    10px 0 80px #cfc4f8;
		background-color: transparent;
	}
}




.btn:hover,
.btn:focus,
.btn:active {
	 box-shadow:
	    inset 0 0 50px #fff,
	    inset 20px 0 80px #fff,
	    inset -20px 0 80px #fff,
	    inset 20px 0 300px #fff,
	    inset -20px 0 300px #fff,
	    0 0 50px #fff,
	    -10px 0 80px #fff,
	    10px 0 80px #fff;
	    animation-play-state: paused;
}

.btn-hover {
	box-shadow:
	    inset 0 0 50px #fff,
	    inset 20px 0 80px #fff,
	    inset -20px 0 80px #fff,
	    inset 20px 0 300px #fff,
	    inset -20px 0 300px #fff,
	    0 0 50px #fff,
	    -10px 0 80px #fff,
	    10px 0 80px #fff;
}

.primary-photo {
	height: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-40%, 0%);
}

.linkedin {
	top: 5%;
	left: 28%;
}

.about-me {
	top: 5%;
	left: 14%;
}

.email {
	top: 5%;
	left: 42%;
}

.facebook {
	top: 5%;
	right: 28%;
}

.portfolio {
	top: 5%;
	right: 14%;
}

.phone {
	top: 5%;
	right: 42%;
}

.introduction {
	text-align: center;
	position: absolute;
	color: #000000;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.glow2 {
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
}

.glowing-container-left {
    display: none;
    z-index: 3;
  
}
.glowing-container-left .glowing-panel {
  position: relative;
  height: 100vh;
  width: 50vw;
  padding: 50px;
  overflow-y: auto;
  color: #000000;
  background-color: rgba(0,0,0,0.5);
  box-shadow:
    inset 0 0 25px #fff,
    inset 10px 0 40px #cfc4f8,
    inset -10px 0 40px #fff,
    inset 10px 0 150px #cfc4f8,
    inset -10px 0 150px #fff,
    0 0 25px #fff,
    -5px 0 40px #cfc4f8,
    5px 0 40px #fff;
  animation: slowlyDisplayGlowingPanel 0.5s ease-out;
  z-index: 6;
}

.glowing-container-left .glowing-triangle-container {
  position: relative;
	z-index: 5;
 
}

.glowing-container-left .glowing-triangle {
  height: 100vh;
  width: 50vw;
  opacity: 0.3;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  clip-path: polygon(0 0, 52% 49%, 52% 51%, 0 100%);
    animation: slowlyDisplayTriangle 0.25s ease-in;
  
}

.glowing-container-left .glowing-triangle-container2 {
  position: absolute;
  left: 0;
  z-index: 4;
}

.glowing-container-left .glowing-triangle2 {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 0.3;
  clip-path: polygon(0 0, 75% 49%, 75% 51%, 0 100%);
  background-color: #fff;
    animation: slowlyDisplayTriangle2 0.5s ease-in-out;
  
}

.glowing-container-left .glowing-button {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  height: 56px;
  width: 56px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #cfc4f8,
    inset -20px 0 80px #fff,
    inset 20px 0 300px #cfc4f8,
    inset -20px 0 300px #fff,
    0 0 50px #fff,
    -10px 0 80px #cfc4f8,
    10px 0 80px #fff;
    animation: glowingButton 0.5s ease-in-out infinite;
}

.glowing-container-left .close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #000000;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: solid 1px #FFFFFF;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #cfc4f8,
    inset -20px 0 80px #fff,
    inset 20px 0 300px #cfc4f8,
    inset -20px 0 300px #fff,
    0 0 50px #fff,
    -10px 0 80px #cfc4f8,
    10px 0 80px #fff;
}

@keyframes glowingPanel {
  0%   {
    box-shadow:
    inset 0 0 25px #fff,
    inset 10px 0 40px #cfc4f8,
    inset -10px 0 40px #fff,
    inset 10px 0 150px #cfc4f8,
    inset -10px 0 150px #fff,
    0 0 25px #fff,
    -5px 0 40px #cfc4f8,
    5px 0 40px #fff;
  }
  50%  {
    box-shadow:
    inset 0 0 25px #fff,
    inset 10px 0 40px #fff,
    inset -10px 0 40px #4717F6,
    inset 10px 0 150px #fff,
    inset -10px 0 150px #4717F6,
    0 0 25px #fff,
    -5px 0 40px #fff,
    5px 0 40px #4717F6;
  }
  100% {
    box-shadow:
    inset 0 0 25px #fff,
    inset 10px 0 40px #cfc4f8,
    inset -10px 0 40px #fff,
    inset 10px 0 150px #cfc4f8,
    inset -10px 0 150px #fff,
    0 0 25px #fff,
    -5px 0 40px #cfc4f8,
    5px 0 40px #fff;
  }
}


*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #FFF;
}

*::-webkit-scrollbar {
    width: 7px;
    background-color: #FFF;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #7c88f3;
}


.glowing-container-right {
  display: none;
  z-index: 3;
  
  
}
.glowing-container-right .glowing-panel {
  position: relative;
  height: 100vh;
  width: 50vw;
  padding: 50px;
  overflow-y: auto;
  color: #000000;
  background-color: rgba(0,0,0,0.5);
  box-shadow:
    inset 0 0 25px #fff,
    inset 10px 0 40px #cfc4f8,
    inset -10px 0 40px #fff,
    inset 10px 0 150px #cfc4f8,
    inset -10px 0 150px #fff,
    0 0 25px #fff,
    -5px 0 40px #cfc4f8,
    5px 0 40px #fff;
  animation: slowlyDisplayGlowingPanelRight 0.5s ease-out;
  z-index: 6;
}

.glowing-container-right .glowing-triangle-container {
  position: relative;
  z-index: 5;
}

.glowing-container-right .glowing-triangle {
  height: 100vh;
  width: 50vw;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 0.3;
  clip-path: polygon(100% 0, 52% 49%, 52% 51%, 100% 100%);
  background-color: #fff;
    animation: slowlyDisplayTriangleRight 0.25s ease-in;
  
}

.glowing-container-right .glowing-triangle-container2 {
  position: absolute;
  left: 0;
  z-index: 4;
}

.glowing-container-right .glowing-triangle2 {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 0.3;
  clip-path: polygon(100% 0, 25% 49%, 25% 51%, 100% 100%);
  background-color: #fff;
    animation: slowlyDisplayTriangleRight2 0.5s ease-in-out;
}

.glowing-container-right .glowing-button {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  height: 56px;
  width: 56px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #cfc4f8,
    inset -20px 0 80px #fff,
    inset 20px 0 300px #cfc4f8,
    inset -20px 0 300px #fff,
    0 0 50px #fff,
    -10px 0 80px #cfc4f8,
    10px 0 80px #fff;
    animation: glowingButton 0.5s ease-in-out infinite;
}

.glowing-container-right .close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #000000;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: solid 1px #FFFFFF;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #cfc4f8,
    inset -20px 0 80px #fff,
    inset 20px 0 300px #cfc4f8,
    inset -20px 0 300px #fff,
    0 0 50px #fff,
    -10px 0 80px #cfc4f8,
    10px 0 80px #fff;
}

#phoneNumber,
#emailValue{
  opacity: 0;
  cursor: default;
}

.toast {
  color: #000000;
  background-color: transparent;
  box-shadow:
    inset 0 0 6px #fff,
    inset 2px 0 10px #cfc4f8,
    inset -2px 0 10px #fff,
    inset 2px 0 37px #cfc4f8,
    inset -2px 0 37px #fff,
    0 0 6px #fff,
    -1px 0 10px #cfc4f8,
    1px 0 10px #fff;
  z-index: 3;
}

.btn-large,
.btn-large:hover {
  color: #000000;
	box-shadow:
    inset 0 0 6px #fff,
    inset 2px 0 10px #cfc4f8,
    inset -2px 0 10px #fff,
    inset 2px 0 37px #cfc4f8,
    inset -2px 0 37px #fff,
    0 0 6px #fff,
    -1px 0 10px #cfc4f8,
    1px 0 10px #fff;
}

@keyframes slowlyDisplayTriangle {
  0%   {
    clip-path: polygon(52% 49%, 52% 49%, 52% 51%, 52% 51%);
  }
  100% {
    clip-path: polygon(0 0, 52% 49%, 52% 51%, 0 100%);
  }
}

@keyframes slowlyDisplayTriangle2 {
  0%   {
    clip-path: polygon(75% 49%, 75% 49%, 75% 51%, 75% 51%);
  }
  100% {
    clip-path: polygon(0 0, 75% 49%, 75% 51%, 0 100%);
  }
}

@keyframes slowlyDisplayGlowingPanel {
  0%   {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  
  50%   {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}


@keyframes slowlyDisplayTriangleRight {
  0%   {
    clip-path: polygon(52% 49%, 52% 49%, 52% 51%, 52% 51%);
  }
  100% {
    clip-path: polygon(100% 0, 52% 49%, 52% 51%, 100% 100%);
  }
}

@keyframes slowlyDisplayTriangleRight2 {
  0%   {
    clip-path: polygon(25% 49%, 25% 49%, 25% 51%, 25% 51%);
  }
  100% {
    clip-path: polygon(100% 0, 25% 49%, 25% 51%, 100% 100%);
  }
}

@keyframes slowlyDisplayGlowingPanelRight {
  0%   {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  
  50%   {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}


.collapsible-header {
	background-color: transparent;
}

.card {
	background-color: #ffffff48;
}

.tabs {
	background-color: #b4c3f1;
}

.tabs .tab a,
.tabs .tab a:hover,
.tabs .tab a.active {
	/* background-color: rgba(231, 223, 221, 0.5); */
	background-color: #FFFFFF;
	color: #000000;
}

@media  (min-width: 320px) and (max-width: 1024px) {
  
  
	.linkedin {
		top: 15%;
		left: 30%;
	}
	
	.about-me {
		top: 50%;
		transform: translateY(-50%);
		left: 15%;
	}
	
	.email {
		bottom: 15%;
		left: 30%;
	}
	
	.facebook {
		top: 15%;
		right: 30%;
	}
	
	.portfolio {
		top: 50%;
		transform: translateY(-50%);
		right: 15%;
	}
	
	.phone {
		bottom: 15%;
		right: 30%;
	}
	
	.glowing-panel {
		width: 100vw !important;
	}
	
	.glowing-triangle {
		width: 0 !important;
	}
  
  
}

